<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- 控制台 -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%15t] [%30.30C{1}] [%3L] %6p - %m %n"/>
            <!-- param name="ConversionPattern" value="%d [%20t] [%7r] [%45C{1}] [%25M] [%3L] %6p - %30.30c - %m %n" / -->
        </layout>
    </appender>

    <!-- 全日志 -->
    <appender name="LogFile" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data0/recsys/tanzhen/load2Redis/logs/all.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'_'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m %n"/>
        </layout>
    </appender>

    <logger name="com.jd.si.jupiter"></logger>

    <root>
        <priority value="ERROR"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="LogFile"/>
    </root>

</log4j:configuration> 